/Pro Swift/.DS_Store
/.DS_Store
/Pro Swift/Chapter 2.playground/playground.xcworkspace/xcuserdata/Javier.xcuserdatad/UserInterfaceState.xcuserstate
/MyPlayground.playground/playground.xcworkspace/xcuserdata/Javier.xcuserdatad/UserInterfaceState.xcuserstate
/MyPlayground.playground/timeline.xctimeline
/Swift 2.x Version/HackingWithSwift - Solutions
.DS_Store
xcdebugger
*.xcuserstate
