<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project39-JJ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B23E58E1DBAB836001BE3EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B23E5A21DBAB836001BE3EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B23E5AD1DBAB836001BE3EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
